---
layout: research_group
title: "ESCAL Robotics"
permalink: /research/robotics/
---

<section class="ftco-section ftco-services bg-light">
    <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-2">About</h2>
            </div>
        </div>
        <div class="row justify-content-center ftco-animate mb-5 pb-5">
            <h5 class="col-md-10" style=" text-align: justify;">
                Research Date : Jan. 1, 2015 - Present
            </h5>
            <p class="col-md-10" style="text-indent: 60px; text-align: justify;">
                At ESCAL Robotics, we are passionate about exploring the fascinating world of robotics and cutting-edge
                technologies. Our laboratory focuses on research and development in the fields of embedded systems and
                computer architecture to create innovative solutions for real-world challenges.
            </p>
            <p class="col-md-10" style="text-indent: 60px; text-align: justify;">
                Our team of dedicated researchers and experts work together to design and build advanced robotics
                systems that push the boundaries of what's possible. We strive to create intelligent, autonomous
                machines that can revolutionize industries and enhance the quality of life for people around the globe.
            </p>
            <p class="col-md-10" style="text-indent: 60px; text-align: justify;">
                Through our practical labs and workshops, we aim to inspire the next generation of engineers and
                enthusiasts. We believe in hands-on learning and provide a nurturing environment where creativity and
                innovation flourish.
            </p>
            <iframe class="about-video" src="https://youtube.com/embed/9hLZ5tDqr44?showinfo=0&amp;iv_load_policy=3"
                frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</section>

<section class="ftco-section ftco-services">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-2">Publications</h2>
            </div>
        </div>
        <div class="row justify-content-center ftco-animate mb-5 pb-5">
            {% for publication in site.data.robotics_pubs %}
                <div class="col-md-10 publication-template">
                    <div class="publication-thumbnail">
                        <a href="{{ publication.doi }}" class="publication-thumbnail-link">
                            <img src="../../assets/images/pdf-blue.png" class="publication-thumbnail-image img-responsive">
                        </a>
                    </div>
                    <div class="publication-info">
                        <p class="publication-title">{{ publication.title }}</p>
                        <p style="font-size: smaller;">
                            {% for author in publication.author_info %}
                                <a href="{{ author.profile }}">{{ author.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p class="publication-stats">
                            <span class="publication-venue">{{ publication.venue }}</span>
                        </p>
                        <p class="publication-keywords hidden-xs">
                            keywords:
                            <span class="publication-keyword">
                                <span class="publication-keyword-text">
                                    {{ publication.tags | join: ', ' }}
                                </span>
                            </span>
                        </p>
                        <p class="pub-download-links">
                            <a href="{{ publication.pdf }}">PDF</a>
                            • <a href="{{ publication.doi }}">DOI</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>