<div class="col-lg-4 mb-sm-4 ftco-animate">
    <div class="staff">
        <div class="d-flex mb-4">
            <div class="img" style="background-image: url('{{ person.profile_image | prepend: "/assets/images/" | relative_url }}');"></div>
            <div class="info ml-4">
                <h3><a href="{{person.peoples_link}}">{{person.honorific}} {{ person.preferred_long_name }}</a></h3>
            </div>
        </div>
        <!-- <div class="text">
            <p>{{person.description}}</p>
        </div> -->
    </div>
</div>
