<div class="col-lg-4 mb-sm-4 ftco-animate">
    <a href="{{staff.profile_url}}">

        <div class="staff" style="border-radius: 20px; border:2px solid transparent;"
            onmouseover="this.style.border='2px solid #90E4EE';"
            onmouseout="this.style.border='2px solid transparent';">

            <div class="d-flex mb-4">
                <div class="img" style="background-image: url('{{staff.profile_image}}');">
                </div>
                <div class="info ml-4">
                    <h5> {{staff.name}} </h5>
                    <h6> {{staff.designation}} </h6>
                </div>
            </div>

        </div>
    </a>
</div>