<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">ESCAL</h2>
                    <p>
                        Embedded Systems and Computer Architecture Laboratory</p>
                </div>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">About</a></li>
                        <li><a href="#" class="py-2 d-block">Features</a></li>
                        <li><a href="#" class="py-2 d-block">Projects</a></li>
                        <li><a href="#" class="py-2 d-block">Blog</a></li>
                        <li><a href="#" class="py-2 d-block">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Office</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Department of Computer Engineering
                                Faculty of Engineering
                                University of Peradeniya
                                Peradeniya, 20400
                                Sri Lanka</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+94 81 2393470</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                                        class="text">headce@eng.pdn.ac.lk</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>




<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery-migrate-3.0.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.easing.1.3.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.waypoints.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.stellar.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/aos.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.animateNumber.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap-datepicker.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.timepicker.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scrollax.min.js' | relative_url }}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{{ '/assets/js/google-map.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
