<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body>
    {% include navbar.html %}
    <section class="home-slider owl-carousel">
        <div class="slider-item bread-item" style="background-image: url('{{ 'assets/images/img4.jpg' | relative_url }}');"
            data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container" data-scrollax-parent="true">
                <div class="row slider-text align-items-end">
                    <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                        <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span
                                class="mr-2"><a href="{{ site.url }}{{ site.baseurl }}">Home</a></span>/ <span>Research</span> </p>
                        <h1 class="mb-3 font-weight-bold" data-scrollax=" properties: { translateY: '70%', opacity: .9}">{{page.title}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ content }}
    {% include footer.html %}
</body>
</html>
